<div class="chat-room-leave">
    <button class="btn btn-lg btn-default leave-room">Leave Room</button>
</div>
<div class="chat-message-area">
</div>
<div class="chat-text-area">
  <div class="chat-text-position">
    <textarea class="form-control" rows="3"></textarea>
    <button class="form-control-submit btn-primary" rows="3">Enter</button>
  </div>
</div>