<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand btn" href="#">hacker<b>C</b>hat</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="btn btn-right logout"><a href="#">Logout</a></li>
      <li class="btn btn-subright new-room"><a href="#">Create Room</a></li>
      <li class="active btn"><a href="#">Chat Rooms</a></li>
      <li class="btn"><a href="#">Users</a></li>
      <li class="btn"><a href="#">Settings</a></li>
    </ul>
  </div>
</div>
<div>
  <div class="chat-region">
  </div>
</div>