<div class="chat-room-tile col-md-2 btn btn-default">
  <div class="chat-room-tile-title"><b>Chat Room Name:</b> {{ id }}</div>
  <div class="chat-room-tile-description"><b>Last Sent Message:</b>{{ lastMessage.text }} -- {{ lastMessage.sender }}</div>
</div>