<div class="content-header">Welcome to <span class="title-hacker">hacker</span><span class="title-hacker-chat">Chat!</span></div>
<div class="content-main">
  <div class="content-splash">
    <div class="content-splash-text">
      HackerChat brings chatting to developers by providing syntax highlight, code formatting, and LaTeX.
    </div>
    <div class="content-splash-login splash-toggle-login-uncollapse">
      <button class="btn btn-primary btn-lg splash-button">I want in!</button>
    </div>
    <div class="content-splash-login splash-toggle-login-collapse">
      <div id="login" class="splash-login-form">
        <div class="splash-error"></div>
        <label>Username: </label><input value="" name="user" type="text"><br/>
        <button id="guest" class="btn btn-primary splash-login-button">Login as Guest</button>
        <button id="github" class="btn btn-primary splash-login-button btn-success">Login via Github</button>
      </div>
    </div>
  </div>
</div>
